<div class="navbar-shadow" style="padding: 24px; position: fixed; top: 0px; left: 0px; width: 100%; z-index: 1024; background-color: #ffffff;">
  <img src="/hsbc-logo.gif">
</div>
<img src="/hsbc-floor-1.png" style="width: 100%">
<img src="/hsbc-floor-2.png" style="width: 100%">
<img src="/hsbc-floor-3.png" style="width: 100%">
<img src="/hsbc-floor-4.png" style="width: 100%">
