<!DOCTYPE html>
<html>
<head>
  <title>Team3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <style>
    .navbar-shadow {
      -webkit-box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.46);
      -moz-box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.46);
      box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.46);
    }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
